body{
    background-image: url(https://media.istockphoto.com/id/1312147777/vector/seamless-pattern-with-sport-icons.jpg?s=612x612&w=0&k=20&c=j37Gs3zm6YI0zzYMC4D3-oZ6Fskt2PkEB72ieAIuR24=);
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    width: 700px;
    background-color: rgba(140, 146, 172, 0.8);
    color: rgba(0, 4, 53, 1);
    border-radius: 12px;
    padding: 10px 20px
}
header{
    background-color: rgba(171, 209, 221, 1);
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}
label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 25px;
    margin: 5px 0px;
    font-style: italic;
}
input[type="text"], [type="email"], [type="number"], select, textarea{
    margin-top: 5px;
    width: 100%;
    border: none;
    font-size: 15px;
    outline: none;
}
input[type="checkbox"]{
    margin-top: 10px;
}
input[type="submit"]{
    background-color: aquamarine;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px 35px;
    margin-top: 15px;
    margin-left: 300px;
}